
<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display: block;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Mobile Specific Meta   {{value}} -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>مشاهده ترجمه</title>

		<link href="./../static/css/css(1)" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="./../static/css/linearicons.css">
			<link rel="stylesheet" href="./../static/css/font-awesome.min.css">
			<link rel="stylesheet" href="./../static/css/bootstrap.css">
			<link rel="stylesheet" href="./../static/css/magnific-popup.css">
			<link rel="stylesheet" href="./../static/css/nice-select.css">	
			<link rel="stylesheet" href="./../static/css/hexagons.min.css">							
			<link rel="stylesheet" href="./../static/css/animate.min.css">
			<link rel="stylesheet" href="./../static/css/owl.carousel.css">
			<link rel="stylesheet" href="./../static/css/main.css">
		<script type="text/javascript" charset="UTF-8" src="./../static/js/common.js"></script><script type="text/javascript" charset="UTF-8" src="./../static/js/util.js"></script></head>
  



    <body>	
      <header id="header" class="">
        <div class="container main-menu">
          <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
              <a href="https://colorlib.com/preview/theme/robotics/index.html"><img src="../static/img/logo(1).png" alt="" title=""></a>
            </div>
            <nav id="nav-menu-container">
              <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                <li class="menu-active"><a href="http://127.0.0.1:5000/">صفحه اصلی</a></li>
                                
              </ul>
            </nav><!-- #nav-menu-container -->		    		
          </div>
        </div>
      </header><!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home">	
      <div class="overlay overlay-bg"></div>
      <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
             مشاهده ترجمه			
            </h1>	
           
          </div>	
        </div>
      </div>
    </section>
    <!-- End banner Area -->	

    <!-- Start price Area -->
    <section class="price-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-md-11 col-md-offset-1"">
            <div class="title text-center">
              <p class="text-white link-nav"><img src="../static/img/iran.png" style="width:25px"> <span class="lnr lnr-arrow-right"><img src="../static/img/toright.png" style="width: 27px;"></span> <img src="../static/img/us.jpeg" style="width:25px"></p>
            
            </div>
          </div>
        </div>					
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="single-price">
              <div class="top-part">
      <h5 style="text-align:right;direction:rtl">متن اصلی:  {{value}}</h5>
               
              </div>
              <div class="package-list">
                <ul>
                  <li style="text-align:right;direction:rtl">
                   ترجمه :
                  دددددددددددددددددددددددددددددددددددددددددد
                  </li>
                  
                </ul>
              </div>
            			<div class="downloadPsrt">
                      <h6 style="text-align:right;direction:rtl">دانلود فایل :</h6>

                      <ul class="dn">
                        <li>
                         <a href=""> <img src="../static/img/srt.jpeg"> </a>
                        </li>

                        <li>
                            <a href=""> <img src="../static/img/txt.png"> </a>
                           </li>

                           <li>
                              <a href=""> <img src="../static/img/pdf.png"> </a>
                             </li>
                      </ul>

                  </div>				
            </div>
          </div>
         
      </div>	
    </section>
    <!-- End price Area -->
		
      

    <script src="./../static/js/jquery-2.2.4.min.js"></script>
    <script src="./../static/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="./../static/js/bootstrap.min.js"></script>			
    <script type="text/javascript" src="./../static/js"></script>
      <script src="./../static/js/easing.min.js"></script>			
    <script src="./../static/js/hoverIntent.js"></script>
    <script src="./../static/js/superfish.min.js"></script>	
    <script src="./../static/js/jquery.ajaxchimp.min.js"></script>
    <script src="./../static/js/jquery.magnific-popup.min.js"></script>	
    <script src="./../static/js/owl.carousel.min.js"></script>	
    <script src="./../static/js/hexagons.min.js"></script>							
    <script src="./../static/js/jquery.nice-select.min.js"></script>	
    <script src="./../static/js/jquery.counterup.min.js"></script>
    <script src="./../static/js/waypoints.min.js"></script>							
    <script src="./../static/js/mail-script.js"></script>	
    <script src="./../static/js/main.js"></script>		
  </body>

    </html>