<!DOCTYPE html>
<html lang="zxx" class="no-js" style="display: block;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>مترجم</title>

		<link href="./../static/css/css(1)" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="./../static/css/linearicons.css">
			<link rel="stylesheet" href="./../static/css/font-awesome.min.css">
			<link rel="stylesheet" href="./../static/css/bootstrap.css">
			<link rel="stylesheet" href="./../static/css/magnific-popup.css">
			<link rel="stylesheet" href="./../static/css/nice-select.css">	
			<link rel="stylesheet" href="./../static/css/hexagons.min.css">							
			<link rel="stylesheet" href="./../static/css/animate.min.css">
			<link rel="stylesheet" href="./../static/css/owl.carousel.css">
			<link rel="stylesheet" href="./../static/css/main.css">
		<script type="text/javascript" charset="UTF-8" src="./../static/js/common.js"></script><script type="text/javascript" charset="UTF-8" src="./../static/js/util.js"></script></head>
		<body style="display: block;"><button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>	
			  <header id="header" class="">
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="https://colorlib.com/preview/theme/robotics/index.html"><img src="../static/img/logo(1).png" alt="" title=""></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
				          <li class="menu-active"><a href="http://127.0.0.1:5000/">صفحه اصلی</a></li>
				      			              
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 920px;">
						<div class="banner-content col-lg-6 col-md-6">
							<h1 style="direction: rtl;position: absolute;top: -80px;right: 49px;">
								مترجم <br>
							</h1>
						<h3 style="color:white;direction:rtl">یک سرویس ترجمه دو زبانه رایگان  است که برای ترجمه روان تر متن ارائه شده است. </h3>
						<br>
							
							<a href="#trans" class="primary-btn header-btn text-uppercase">ترجمه کنید</a>
						</div>
						<div class="banner-img col-lg-6 col-md-6">
							<img class="img-fluid" src="../static/img/banner-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->


			<!-- Start home-about Area -->
			<section class="home-about-area" id="trans">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 home-about-left no-padding">
							<img class="mx-auto d-block img-fluid" src="../static/img/about-img.png" alt="">
						</div>
						<div class="col-lg-6 home-about-right no-padding">
						
							<h4 style="direction:rtl;text-align: right;">
								متن خود را وارد نمایید :
							</h5>
							<p>
								<form action="{{ url_for('submit') }}" method="post">
									<textarea class="myTex" name="text"></textarea>
									<input class="primary-btn text-uppercase" type="submit" value="مشاهده ترجمه">
							</form>
							</p>
						
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			

			

			<!-- Start feature Area -->
			<section class="feature-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10 text-white">درباره ما</h1>
							<h5 class="text-white" style="direction:rtl">
							مترجم یک پروژه دانشجویی است که با 6664 داده آموزش دیده.
							</p>
						</div>
					</div>							
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
						
									
									<h4>
										<img src="../static/img/cam.png" style="height: 203px;">
									</h4>
								
								<p>
								زیر نویس سریال 
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
									<h4><img src="../static/img/search.png"></h4>
								<p>
								عبارات متداول
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
							
									<h4><img src="../static/img/f.ico" id="mimg"></h4>
							
								<p>
								زیر نویس فیلم های علمی
								</p>
							</div>
						</div>						
					</div>
				</div>	
			</section>
			<!-- End feature Area -->
			


	

			<script src="./../static/js/jquery-2.2.4.min.js"></script>
			<script src="./../static/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="./../static/js/bootstrap.min.js"></script>			
			<script type="text/javascript" src="./../static/js"></script>
  			<script src="./../static/js/easing.min.js"></script>			
			<script src="./../static/js/hoverIntent.js"></script>
			<script src="./../static/js/superfish.min.js"></script>	
			<script src="./../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="./../static/js/jquery.magnific-popup.min.js"></script>	
			<script src="./../static/js/owl.carousel.min.js"></script>	
			<script src="./../static/js/hexagons.min.js"></script>							
			<script src="./../static/js/jquery.nice-select.min.js"></script>	
			<script src="./../static/js/jquery.counterup.min.js"></script>
			<script src="./../static/js/waypoints.min.js"></script>							
			<script src="./../static/js/mail-script.js"></script>	
			<script src="./../static/js/main.js"></script>	
		
	



<nav id="mobile-nav">
				        <ul class="" style="touch-action: pan-y;" id="">
				          <li class="menu-active"><a href="https://colorlib.com/preview/theme/robotics/index.html">صفحه اصلی</a></li>
				                    
				        </ul>
				      </nav><div id="mobile-body-overly"></div></body></html>