<!DOCTYPE html>
<html lang="en">
  <head>
    <title>احراز هویت</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <style>
  body{
  background-color:#eeeeee;
  overflow-x:hidden;
  font-family:Tahoma;
  }
  .row{
  margin-right: -15px;
    margin-left: -15px;
  }
  .w{
  width: 83.33333333333334%;margin-left:8.33333333%
  }
  .center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  }
  </style
<body>
<div style="margin-top:8%">
<h3 class="center">بازبینی چهره</h3>
<div class="row">
<div  class="w">
<div style="width:100%" class="center">
 <span><img src="static/img/img.jpg" style="width:350px; display:inline-block;height: 220px;"></span>


<span><img src="static/img/frame.png" style="width:350px; display:inline-block;height: 220px;"></span>
<h4>{{ value }}هر دو تصویر یکسان اند ؟ </h4>
</div>
</div>
</div>
</div>
</body>
</html>